.btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px 20px;
    transition: all .3s ease-in-out;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: inherit;
    }

    &.btn-primary-alt {
        background-color: $primary-alt;
        color: $white;
        border-color: $primary-alt;

        &:hover {
            background-color: #c00;
            color: $white;
            border-color: transparent;
        }
    }

    &.btn-secondary {
        background-color: $secondary;
        color: $white;
        border-color: inherit;

        &:hover {
            background-color: $body-color;
            color: $white;
        }
    }
}