.hero-slider {
    figure {
        margin: 0;
        position: relative;

        .image {
            min-height: 500px;
            height: calc(100vh - 132px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .owl-buttons {
        bottom: 35%;
    }
}

.hero {
    position: relative;
    padding: 130px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &.hero-contact {
        background-image: url('/img/hero/contact-banner.jpg');
    }

    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($secondary, .6);
    }

    >* {
        position: relative;
        z-index: 1;
    }

    h1 {
        font-size: 72px;
        font-weight: 700;
        line-height: 1;
        font-family: $font-family-secondary;
        color: $white;
    }
}

@include media-breakpoint-down(xl) {
    .hero-slider {
        figure {    
            .image {
                min-height: 100%;
                height: 500px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .hero-slider {
        figure {    
            .image {
                height: 300px;
            }
        }
    }
    .hero {
        padding: 80px 0;

        h1 {
            font-size: 40px;
        }
    }
}