$primary: #FC0708;
$primary-alt: #e01e37;
$secondary: #101522;
$body-color: #232327;
$body-bg: #ffffff;
$font-family-base: 'Open Sans', sans-serif;
$font-family-secondary: 'Rajdhani', sans-serif;

$grid-gutter-width: 2.5rem;